click==8.0.3
ics==0.7
prettytable==2.4.0

can just pip3 install each

polymorphism for the chores, to do list and other "classes"
add sub class with base reminders, 
meal water and break reminders, all stored in ics files